body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
  opacity: 0.8;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
}

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin: 1em;
  padding: 1em;
}

.geo-text {
  font-size: 24px;
  font-weight: 800;
  color: cornflowerblue;
}
